<h3>Datos del Cliente</h3>
<button (click)="nuevoDatoCliente()">Nuevo Dato</button>
<button (click)="eliminarTodosDatos()" style="margin-left:10px;color:red;">Eliminar todos los datos</button>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Provincia</th>
      <th>Ciudad</th>
      <th>Cod Postal</th>
      <th>Nro Sucursal</th>
      <th>GLN</th>
      <th>Observaciones</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos">
      <td>{{dato.DatosID}}</td>
      <td>{{dato.Telefono}}</td>
      <td>{{dato.Email}}</td>
      <td>{{dato.Direccion}}</td>
      <td>{{dato.Provincia}}</td>
      <td>{{dato.Ciudad}}</td>
      <td>{{dato.CodPostal}}</td>
      <td>{{dato.NroSucursal}}</td>
      <td>{{dato.GLN}}</td>
      <td>{{dato.Observaciones}}</td>
      <td>
        <button (click)="selectDatos(dato)">Editar</button>
        <button (click)="deleteDatos(dato.DatosID)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<app-datos-cliente-form *ngIf="selectedDatos" [datosCliente]="selectedDatos" [clienteId]="clienteId"></app-datos-cliente-form>
