

<div class="container">
  <app-toast-container></app-toast-container>
  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <div class="card p-4 text-center">
        <h1 class="mb-3" style="color:#007bff;">CRUD de Clientes y Datos de Clientes</h1>
        <nav class="mb-2">
            <a routerLink="/" class="btn btn-outline-primary mx-2">Clientes</a>
            <a routerLink="/notas" class="btn btn-outline-success mx-2">Notas de pedido</a>
            <a routerLink="/inventario" class="btn btn-outline-secondary mx-2">Inventario</a>
            <a routerLink="/inventario/depositos" class="btn btn-outline-secondary mx-2">Depósitos</a>
            <a routerLink="/inventario/movimientos" class="btn btn-outline-secondary mx-2">Movimientos</a>
            <a routerLink="/inventario/ventas" class="btn btn-outline-secondary mx-2">Facturas</a>
            <a routerLink="/inventario/recibos" class="btn btn-outline-secondary mx-2">Recibos</a>
            <a routerLink="/inventario/productos" class="btn btn-outline-secondary mx-2">Listado Productos</a>
            <a routerLink="/inventario/productos/new" class="btn btn-outline-secondary mx-2">Nuevo Producto</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
  <router-outlet></router-outlet>
      
    </div>
  </div>
</div>





